server:
  port: 8080

spring:
  application:
    name: gateway-service
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI:http://localhost:7080/auth/realms/portfolio/protocol/openid-connect/certs}
      client:
        registration:
          keycloak:
            client-id: portfolio-client
            client-secret: dummy
            provider: keycloak
            authorization-grant-type: client_credentials
        provider:
          keycloak:
            issuer-uri: ${SECURITY_OAUTH2_EXPECTED_ISSUER:http://localhost:7080/auth/realms/portfolio}
  cloud:
    gateway:
      default-filters:
        - TokenRelay
        - SaveSession
        - name: CircuitBreaker
          args:
            name: defaultCircuitBreaker
            statusCodes: 500
      routes:
        - id: catalog
          uri: ${GATEWAY_CATALOG_URI:http://catalog-service:8081}
          predicates:
            - Path=/catalog/**
          filters:
            - StripPrefix=1
        - id: users
          uri: ${GATEWAY_USERS_URI:http://users-service:8082}
          predicates:
            - Path=/users/**
          filters:
            - StripPrefix=1
        - id: orders
          uri: ${GATEWAY_ORDERS_URI:http://orders-service:8084}
          predicates:
            - Path=/orders/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    org.springframework.security: INFO
    org.springframework.cloud.gateway: INFO
